* {
  box-sizing: border-box;
}

.table {
  font-size: 0.8rem;
  font-family: "Source Code Pro", monospace;
  width: 50rem;
}

.header {
  border-bottom: 1px solid black;
}

.headerCell {
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem;
}

.headerCell--description,
.dataCell--description {
  width: 32%;
}

.headerCell--date,
.dataCell--date {
  width: 17%;
}

.headerCell--amountCents,
.dataCell--amountCents {
  width: 17%;
}

.headerCell--amountCents,
.headerCell--totalCents,
.headerCell--actions {
  text-align: right;
}

.headerCell--totalCents,
.dataCell--totalCents {
  width: 17%;
}

.headerCell--actions,
.dataCell--actions {
  width: 17%;
}

.dataRow {
  border-bottom: 1px solid #999;
}

.dataCell {
  display: inline-block;
}

.descriptionCellInput,
.dateCellInput,
.amountCellInput {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  height: 100%;
  border: 0;
  border-left: 2px solid transparent;
  border-right: 1px solid transparent;
  outline: none;

  &:focus {
    border-left-color: black;
    border-right-color: black;
    background-color: #fbfec2;
  }
}

.amountCellInput,
.dataCell--totalCents,
.dataCell--actions {
  text-align: right;
}
